@import url('https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Coiny&subset=latin-ext,tamil,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Coiny|Poppins&subset=latin-ext,tamil,vietnamese');

html,
body {
    position: relative;
    height: 100vh;
}

body {
    background: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
}

/*************** SWİPER ***************/

.swiper-container {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    z-index: 5;
}

.swiper-slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    justify-content: center;
}

/************ MENU **************/

.navbar {
    background:#fafafa;
    z-index: 10;
}

.navbar-brand img {
    width: 35%;
    padding: 0;
    margin: 0;
}

.navbar-light .navbar-brand {
    width:50%;
}

.carousel-caption {
    height: 50%;
    display: table;
    margin: 0px auto;
}

/*******************************/
.text-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text-container span {
    color: #000;
    display: block;
}

.text1 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
    background:none;
    position: relative;
    animation: text 3s 1;
    z-index: 30;
}

.text2 {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    z-index: 25;
}

@keyframes text {
    0%{
        color: #000;
        background:#fafafa;
        margin-bottom: -50px;
    }
    30%{
        background:#fafafa;
        letter-spacing: 25px;
        margin-bottom: -60px;
    }
    75% {
        background:#fafafa;
        letter-spacing: 8px;
        margin-bottom: -60px;
    }
    
}



/***************************************/

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #000000;
}

/********** PAGE-TWO-TASARIM *********/

.text-two-container {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 118%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text-two-container h5{
    color: #000;
    display: block;
}

h5 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    background: none;
    position: relative;
    z-index: 30;
}

.text-two-three-container {
    text-align: left;
    position: absolute;
    top: 32%;
    left: 118%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text-two-three-container p{
    color: #000;
    display: block;
}
.text-two-three-container i{
    font-size:10px;
    padding: 7px;
}

p{  
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Poppins',
    sans-serif;
    margin-bottom: 10px;
    background: none;
    position: relative;
    z-index: 30;
}


/********** PAGE-THREE-TASARIM *********/

.text-three-container {
    text-align: left;
    position: absolute;
    top: 20%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text-three-container h5 {
    color: #000;
    display: block;
}

h5 {
    font-size: 55px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    background: none;
    position: relative;
    z-index: 30;
}

.text-three-three-container {
    margin-top: 50px;
    text-align: left;
    position: absolute;
    top: 32%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text-three-three-container p {
    color: #000;
    display: block;
}

.text-three-three-container i {
    font-size: 10px;
    padding: 7px;
}

.form-button{
    width: 25%;
    z-index: 50;
    position: absolute;
    margin-top: 20%;
}

.form-button a{
    text-decoration: none;
    color: #fff;
    background: #000;
    font-size: 15px;
    text-align:center;
    font-weight:700;
    font-family: 'Poppins',
    sans-serif;
    border: 3px solid #fff;
    padding: 10px 30px;
    border-radius: 25px;
}
.form-button a:hover {
    text-decoration: none;
    color: #000;
    background: #fff;
    font-size: 15px;
    border: 3px solid #000;
    transition: all 0.9s;
}

p { 
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 10px;
    background: none;
    position: relative;
    z-index: 30;
}

